# SDCC stuff
*.lnk
*.lst
*.map
*.mem
*.rel
*.rst
[https://www.parliament.go.th/view/1/e-Book/TH-TH*.book ตำรวรัฐสภา] 
{{short description|Province of Thailand}}
{{Use dmy dates|date=May 2018}}
{{Infobox settlement
| name               = Loei
| native_name        = เลย
| native_name_lang   = th
| settlement_type    = [[Provinces of Thailand|Province]]
| image_skyline      = Loeip.jpg
| image_alt          = 
| image_caption      = 
| image_seal         = Seal Loei.png
| image_flag         = Loei Flag.png
| nickname           = 
| motto              = City of the sea of mountains, coldest place in Siam, with beautiful flowers of three seasons
| image_map          = Thailand Loei locator map.svg
| mapsize            = frameless
| map_alt            = 
| map_caption        = Map of Thailand highlighting Loei province
| coordinates        = {{coord|17|29|12|N|101|43|10|E|region:TH|display=inline,title}}
| coordinates_footnotes = 
| subdivision_type   = [[List of sovereign states|Country]]
| subdivision_name   = Thailand
| seat_type          = Capital
| seat               = [[Loei]]
| leader_party       = 
| leader_title       = รัฐมนตรี การไฟฟ่้าจังหวัดเลย
| leader_name        = พันจ่าโทวิศิษฎ์ ทองโม้
| area_footnotes     = <ref name="RFD">{{cite web |url=https://www.forest.go.th |title=ตารางที่ 2 พี้นที่ป่าไม้ แยกรายจังหวัด พ.ศ.2562 |year=2019 |department=Royal Forest Department |language=Thai |trans-title=Table 2 Forest area Separate province year 2019 |access-date=6 April 2021 |postscript=, information, Forest statistics Year 2019, Thailand boundary from Department of Provincial Administration in 2013}}</ref>
| area_total_km2     = 10,500
| area_rank          = [[Provinces of Thailand|Ranked 16th]]
| area_water_km2     = 
| elevation_footnotes = 
| elevation_m        = 
| population_footnotes = <ref name="TDD">{{cite web |url=http://stat.bora.dopa.go.th/stat/statnew/statTDD/ |website=stat.bora.dopa.go.th |language=th |script-title=th:รายงานสถิติจำนวนประชากรและบ้านประจำปี พ.ส.2562 |trans-title=Statistics, population and house statistics for the year 2019 |date=31 December 2019 |department=Registration Office Department of the Interior, Ministry of the Interior |access-date=26 February 2020}}</ref>
| population_total   = 642,950
| population_as_of   = 2019
| population_rank    = [[Provinces of Thailand|Ranked 42nd]]
| population_density_km2 = 61
| population_density_rank = [[Provinces of Thailand|Ranked 68th]]
| population_note    = 
| population_demonym = 
| demographics_type2 = GDP
| demographics2_footnotes = <ref name="NESDB-2017">{{cite journal|title=''Gross Regional and Provincial Product, 2019 Edition''|journal=<> |date=July 2019|url=https://www.nesdc.go.th/ewt_dl_link.php?nid=5628&filename=gross_regional|access-date=22 January 2020|publisher=Office of the National Economic and Social Development Council (NESDC)|language=en|issn=1686-0799}}</ref>
| demographics2_title1 = Total
| demographics2_info1 = [[baht]] 53 billion<br />([[US$]]1.8 billion) (2019)
| demographics_type1 = Human Achievement Index
| demographics1_footnotes = <ref name="HAI 2565">{{cite web |url=https://www.nesdc.go.th/main.php?filename=Social_HAI |department=Office of the National Economic and Social Development Council (NESDC)|title=ข้อมูลสถิติดัชนีความก้าวหน้าของคน ปี 2565 (PDF) |language=thai |trans-title=Human Achievement Index Databook year 2022 (PDF) |access-date=12 March 2024 |postscript= , page 68}}</ref>
| demographics1_title1 = HAI (2022)
| demographics1_info1 = 0.6407&nbsp;"average"<br/>[[#Human achievement index 2022|Ranked 39th]]
| timezone1          = [[Time in Thailand|ICT]]
| utc_offset1        = +7
| postal_code_type   = [[List of postal codes in Thailand|Postal code]]
| postal_code        = 42xxx
| area_code_type     = [[Telephone numbers in Thailand|Calling code]]
| area_code          = 042
| iso_code           = [[ISO 3166-2:TH|TH-42]]
| registration_plate = เลย
| website            = {{URL|http://www.loei.go.th/}}
| footnotes          = 
}}
'''Loei''' ([[Thai alphabet|Thai]]: [[wikt:เลย|เลย]], {{IPA-th|lɤ̄ːj|pron}}), is one of the more sparsely populated [[Provinces of Thailand|provinces]] (''changwat'') of [[Thailand]]. It lies in the [[Isan]] region of [[Isan#Administrative divisions|upper northeastern Thailand]]. Neighboring provinces are (from east clockwise) [[Nong Khai province|Nong Khai]], [[Udon Thani province|Udon Thani]], [[Nong Bua Lamphu province|Nong Bua Lamphu]], [[Khon Kaen province|Khon Kaen]], [[Phetchabun province|Phetchabun]], and [[Phitsanulok province|Phitsanulok]]. In the north it borders [[Xaignabouli province|Xaignabouli]] and [[Vientiane province]] of [[Laos]].

{{asof|2020}}, the provincial governor is Chaiwat Chuenkosum.<ref>{{cite news |title=Loei governor rises as 'savior' in Covid-19 struggle |url=https://www.thaipbsworld.com/loei-governor-rises-as-savior-in-covid-19-struggle/ |access-date=2 May 2020 |work=Thai PBS World |date=2 May 2020}}</ref> The province was allocated 225.6 million [[Thai baht|baht]] in the [[Fiscal year|FY2019]] Thailand budget.<ref>{{cite book|title=Thailand's Budget in Brief Fiscal Year 2019 |url=http://www.bb.go.th/en/topic-detail.php?id=8562&mid=456&catID=0 |publisher=Bureau of the Budget| page=95|date=20 December 2018|access-date=2 May 2020 }}</ref>

==History==
Loei was founded by a Thai tribe from the Kingdom of Yonok [[Chiang Saen]]. Khun Pha Muang founded the village of Dan-kwa, and Bang Klang Hao founded Dan Sai. Drought and disease later led to the villagers move to the site of present-day Loei.<ref name=":0">{{Cite web |title=เกี่ยวกับจังหวัด {{!}} สำนักงานธนารักษ์พื้นที่เลย |url=https://loei.treasury.go.th/th/about/ |access-date=2023-04-12 |website=ระบบจัดการเว็บไซต์ย่อยภาครัฐ |language=th}}</ref>

In 1907, King [[Chulalongkorn]] (Rama V) created Loei province. The Loei Cultural Centre (ศูนย์วัฒนธรรมจังหวัดเลย) displays Loei's history, religions, and traditions.<ref>{{cite web |title=Loei Cultural Center |url=http://www.tourismthailand.org/Attraction/Loei-Cultural-Center--3526 |access-date=5 June 2016 |website=Tourism Authority of Thailand (TAT)}}</ref> The province is home to many Lao people who fled the Communist take-over of the [[Kingdom of Laos]]. The area of the province along the Lao border is used by the Laotians to buy and sell goods with the locals on the Thai side.<ref>{{Cite web |last=Patchsuti |first=Warapol |title=“จังหวัดเลย” เริ่มแล้วสงกรานต์ไทย-ลาว อ.นาแห้ว |url=https://www.dailynews.co.th/news/2200114/ |access-date=2023-04-12 |website=เดลินิวส์ |language=th}}</ref>

== Geography ==
[[File:Phra That Si Song Rak.jpg|left|thumb|180px|Phra That Si Song Rak, Dan Sai district]]

The province is mountainous. The seat of provincial government, [[Loei town|Loei]], is in a fertile basin surrounded by mountains whose summits are covered by fog and abundant varied flora. The best known mountains in the province are [[Phu Kradueng]], [[Phu Luang]], and [[Phu Ruea]]. The [[Loei River]], which flows through the province, is a tributary of the [[Mekong]], which forms part of the northern boundary of the province with neighboring Laos. [[Phu Thap Buek]], the highest mountain of the [[Phetchabun Range]], is in the province.<ref>{{cite web|title=Ban Thap Boek|url=http://www.tourismthailand.org/Attraction/Ban-Thap-Boek--4879|website=Tourism Authority of Thailand (TAT)|access-date=6 May 2016}}</ref>
The mountain Phu Kradueng is in [[Phu Kradueng National Park]] (อุทยานแห่งชาติภูกระดึง).<ref>{{cite web|title=Phu Kradueng National Park|url=http://www.dnp.go.th/parkreserve/asp/style1/default.asp?npid=11&lg=2|website=Department of National Parks (DNP)|access-date=5 June 2016|url-status=dead|archive-url=https://web.archive.org/web/20160121185737/http://www.dnp.go.th/parkreserve/asp/style1/default.asp?npid=11&lg=2|archive-date=21 January 2016}}</ref>
The western part of the province reaches the southern end of the [[Luang Prabang Range]] of the [[Thai highlands]].<ref>ดร.กระมล ทองธรรมชาติ และคณะ, สังคมศึกษา ศาสนาและวัฒนธรรม ม.1, สำนักพิมพ์ อักษรเจริญทัศน์ อจท. จำกัด, 2548, หน้า 24-25</ref>
The total forested area is {{convert|3,382|km²|abbr=on}} or 32.2 percent of the province.<ref name="RFD"/>
===National parks===
There are four national parks, along with two other national parks, make up [[Protected Areas Regional Offices of Thailand|region 8 (Khon Kaen)]], and Na Yung–Nam Som in [[Protected Areas Regional Offices of Thailand|region 10 (Udon Thani)]] and Phu Hin Rong Kla [[Protected Areas Regional Offices of Thailand|region 11 (Phitsanulok)]] of Thailand's protected areas.
* [[Na Yung–Nam Som National Park]], {{convert|397|km2|abbr=on}}<ref name="AREA WS">{{cite web |url=http://it2.dnp.go.th/wp-content/uploads/ตาราง-5-พื้นที่เขตรักษาพันธุ์สัตว์ป่า-ปี-2562.pdf |title=ตาราง 5 พื้นที่เขตรักษาพันธุ์สัตว์ป่า พ.ศ. 2562 |year=2019 |department=Department of National Parks, Wildlife Sanctuaries and Plant Conservation |language=Thai |trans-title=Table 5 Wildlife Sanctuary Areas in 2019 |access-date=1 November 2022}}</ref>{{rp|10}}
* [[Phu Pha Man National Park]], {{convert|350|km2|abbr=on}}<ref name="AREA NP">
{{cite web |url=https://catalog.dnp.go.th/dataset/areaofnp/resource/3b372140-f2bf-4811-8819-bb8a8b1a100a |title=ข้อมูลพื้นที่อุทยานแห่งชาติ ที่ประกาศในราชกิจจานุบกษา 133 แห่ง |date=December 2020 |department=Department of National Parks, Wildlife and Plant Conservation |language=Thai | trans-title=National Park Area Information published in the 133 Government Gazettes |access-date=1 November 2022}}</ref>{{rp|72}}
* [[Phu Kradueng National Park]], {{convert|348|km2|abbr=on}}<ref name="AREA NP"/>{{rp|2}}
* [[Phu Hin Rong Kla National Park]], {{convert|307|km2|abbr=on}}<ref name="AREA NP"/>{{rp|48}}
* [[Phu Ruea National Park]], {{convert|121|km2|abbr=on}}<ref name="AREA NP"/>{{rp|16}}
* [[Phu Suan Sai National Park]], {{convert|117|km2|abbr=on}}<ref name="AREA NP"/>{{rp|79}}
===Wildlife sanctuaries===
There are three wildlife sanctuaries, two of which are in [[Protected Areas Regional Offices of Thailand|region 8 (Khon Kaen)]], and Phu Khat in [[Protected Areas Regional Offices of Thailand|region 11 (Phitsanulok)]] of Thailand's protected areas.
* [[Phu Luang Wildlife Sanctuary]], {{convert|897|km2|abbr=on}}<ref name="AREA WS">{{cite web |url=http://it2.dnp.go.th/wp-content/uploads/ตาราง-5-พื้นที่เขตรักษาพันธุ์สัตว์ป่า-ปี-2562.pdf |title=ตาราง 5 พื้นที่เขตรักษาพันธุ์สัตว์ป่า พ.ศ. 2562 |year=2019 |department=Department of National Parks, Wildlife Sanctuaries and Plant Conservation |language=Thai |trans-title=Table 5 Wildlife Sanctuary Areas in 2019 |access-date=1 November 2022}}</ref>{{rp|5}}
* [[Phu Khat Wildlife Sanctuary]], {{convert|241|km2|abbr=on}}<ref name="AREA WS"/>{{rp|10}}
* [[Phu Kho–Phu Kratae Wildlife Sanctuary]], {{convert|232|km2|abbr=on}}<ref name="AREA WS"/>{{rp|6}}

== Demographics ==
Loei province is home to several Tai peoples. The indigenous people are the [[Tai Lue people|Tai Lue]], while the [[Phuan people|Phuan]], [[Tai Dam people|Tai Dam]], [[Thai people|Thai]], and [[Thai Chinese|Chinese]] people make up the rest of the population. The Tai Phuan people came to the province after migrating from [[Luang Prabang province|Luang Prabang]] in Laos.<ref name=":0" />

==Symbols==
The [[Seals of the provinces of Thailand|seal of the province]] shows the [[stupa]] at [[Phra That Si Song Rak]], which was built in 1560 by King Maha Chakrapat of the [[Ayutthaya Kingdom]] and King [[Setthathirath|Saysettha ]] of [[Lan Xang]] as a symbol of friendship between the two kingdoms.<ref>{{cite web|title=Loei|url=http://www.thailex.info/THAILEX/THAILEXENG/lexicon/Copy%20of%20Loei.htm|website=THAILEX Travel Encyclopedia|access-date=5 June 2016}}</ref> The [[list of Thai provincial trees|provincial tree]] is the [[Khasi pine]] (''Pinus kesiya''). ''[[Altigena lippa]]'' the [[cyprinid]] fish is the provincial aquatic life.

The provincial slogan is "city of the sea of mountains, coldest place in Siam, with beautiful flowers of three seasons."<ref>{{cite web|title=About Loei|url=http://www.tourismthailand.org/About-Thailand/Destination/Loei|website=Tourist Authority of Thailand (TAT)|access-date=5 June 2016}}</ref>

==Economy==
Agriculture drives Loei's economy. Macadamia nuts, passion fruit, and Arabica coffee are grown in the highlands; bananas, sesame, and rubber on the plains. Loei is an ecotourism destination due to its natural environment and amalgam of northern and northeastern cultures.<ref>{{cite web|title=Loei: General Info|url=http://www.tourismthailand.org/Loei|website=Tourist Authority of Thailand (TAT)|access-date=5 June 2016}}</ref>

[[Wang Saphung District]] is the site of a large open pit gold mine that employs many locals. The locality has been the site of a long-standing dispute as well as physical conflict between the villagers of Ban Na Nong Bong and its environs and Tungkum Limited, a subsidiary of [[Tongkah Harbour Public Company Limited|Tongkah Harbour PCL]]. Tungkum's gold mining operation has been accused in the courts of environmental destruction.<ref>{{cite news|last1=Wannasiri|first1=Sutharee|last2=Abbott|first2=Kingsley|title=Struggle against mining violations leaves activists exposed|url=http://www.bangkokpost.com/opinion/opinion/1002137/struggle-against-mining-violations-leaves-activists-exposed|access-date=5 June 2016|work=Bangkok Post|date=2016-06-05}}</ref>

==Administrative divisions==
===Provincial government===
{{stack|[[File:Amphoe Loei.svg|240px|Map of 14 districts of Loei]]}}
The province is divided into 14 districts (''[[Districts of Thailand|amphoe]]''). The districts are further divided into 89 subdistricts (''[[tambon]]s'') and 839 villages (''[[muban]]s'').
{|
|- style="vertical-align:top;"
||
#[[Mueang Loei district|Mueang Loei]]
#[[Na Duang district|Na Duang]]
#[[Chiang Khan district|Chiang Khan]]
#[[Pak Chom district|Pak Chom]]
#[[Dan Sai district|Dan Sai]]
#[[Na Haeo district|Na Haeo]]
#[[Phu Ruea district|Phu Ruea]]
||
<ol start="8">
<li>[[Tha Li district|Tha Li]]</li>
<li>[[Wang Saphung district|Wang Saphung]]</li>
<li>[[Phu Kradueng district|Phu Kradueng]]</li>
<li>[[Phu Luang district|Phu Luang]]</li>
<li>[[Pha Khao district|Pha Khao]]</li>
<li>[[Erawan district|Erawan]]</li>
<li>[[Nong Hin district|Nong Hin]]</li>
</ol>
|}

===Local government===
As of 26 November 2019 there are:<ref>{{cite web |url=http://www.dla.go.th/work/abt/province.jsp |title=Number of local government organizations by province |date=26 November 2019 |website=dla.go.th |publisher=Department of Local Administration (DLA) |access-date=10 December 2019 | quote=54 Loei: 1 PAO, 2 Town mun., 27 Subdistrict mun., 71 SAO.}}</ref> one Loei Provincial Administration Organisation (''{{lang|th-Latn|ongkan borihan suan changwat}}'') and 29 municipal (''thesaban'') areas in the province. Loei with Wang Saphung have town (''[[thesaban mueang]]'') status. There are a further 27 subdistrict municipalities (''[[thesaban tambon]]''). The non-municipal areas are administered by 71 Subdistrict Administrative Organisations, SAO (''ongkan borihan suan tambon'').<ref name="TDD"/>

==Transport==
Route 201 leads from [[Chiang Khan district|Chiang Khan]] in the north on the border with [[Laos]], through Loei, to [[Non Sa-at district|Non Sa-at]] near [[Chum Phae district|Chum Phae]]. Route 203 leads west to the vicinity of [[Phu Ruea district|Phu Ruea]], and then turns south to [[Lom Sak district|Lom Sak]].

Loei is served by [[Loei Airport]].<ref>{{cite web|title=Loei Airport|url=http://www.ourairports.com/airports/VTUL/|publisher=OurAirports|access-date=3 February 2013}}</ref>

==Human achievement index 2022==
{| class="wikitable floatright" style="width:400px;"
|- 
| style="text-align:center; width:100px; background:black; color:white;"| Health
| style="text-align:center; width:100px; background:black; color:white;"| Education
| style="text-align:center; width:100px; background:black; color:white;"| Employment
| style="text-align:center; width:100px; background:black; color:white;"| Income
|-
| [[File:Health icon Thai.png|95px]]
| [[File:Round Landmark School Icon - Transparent.svg|100px]]
| [[File:Employment icon.png|100px]]
| [[File:Numismatics and Notaphily icon.png|100px]]
|-
| style="text-align:center; background:black; color:white;"| 72
| style="text-align:center; background:black; color:white;"| 54
| style="text-align:center; background:black; color:white;"| 30
| style="text-align:center; background:black; color:white;"| 5 
|-
| style="text-align:center; background:black; color:white;"| Housing
| style="text-align:center; background:black; color:white;"| Family
| style="text-align:center; background:black; color:white;"| Transport
| style="text-align:center; background:black; color:white;"| Participation 
|-
| style="height:100px;"| [[File:586-house-with-garden.svg|100px]] 
| [[File:Parents, enfants, famille.png|center|85px]]
| [[File:Groundtransport inv.svg|100px]]
| [[File:Icon Sociopolítica y relaciones internacionales (wikiproyect, es.wp).png|90px]]
|-
| style="text-align:center; background:black; color:white;"| 26
| style="text-align:center; background:black; color:white;"| 32
| style="text-align:center; background:black; color:white;"| 55
| style="text-align:center; background:black; color:white;"| 37  
|-
| colspan="4"; style="background:black; color:white;"| Loei province, with a 2022 HAI value of 0.6407, is "average", occupies place 39 in the ranking.
|}
Since 2003, United Nations Development Programme (UNDP) in Thailand has tracked progress on human development at the provincial level using the [[Human achievement index]] (HAI), a composite index measuring eight key areas of human development. The [[National Economic and Social Development Board]] (NESDB) has taken over this task since 2017.<ref name="HAI 2565" />
{| class="wikitable" ---valign=top
||Rank||Classification
|-
||&nbsp;&nbsp;1 - 13||"high"
|-
||14 - 29||"somewhat high"
|-
||30 - 45||"average"
|-
||46 - 61||"somewhat low"
|-
||62 - 77||"low"
|}
{|role= "presentation" class="wikitable mw-collapsible mw-collapsed"
|<strong>Map with provinces and HAI 2022 rankings</strong>
|-
|[[File:HAI 2022 rankings.svg|950px]]
|}
{{clear}}

==Gallery==
<gallery>
File:Sun rise at Nok Aen Cliff-2 ,Phu Kradueng National Park.jpg|Sunrise, Pha Nok Aen
File:อุทยานแห่งชาติภูกระดึง001.jpg|Phu Kradueng National Park
File:อุทยานแห่งชาติภูกระดึง2.jpg|Phu Kradueng National Park
File:Phukradung.JPG|Phu Kradueng
File:อุทยานแห่งชาติภูกระดึง 7.jpg|Phu Kradueng
File:พืชเล็กๆ อุทยานแห่งชาติภูกระดึง.jpg|Phu Kradueng
File:เส้นทางอันสวยงานแห่งภูเรือ.jpg|Phu Ruea National Park
File:Man Daeng Waterfall.jpg|Man Daeng Waterfall, Phu Hin Rong Kla National Park
File:Nahaew district.JPG|Na Haeo District
File:ChiangKhan.jpg|Chiang Khan
</gallery>

==References==
{{reflist}}

==External links==
{{commons category|Loei Province}}
*{{Wikivoyage-inline|Loei}}
<!--*[http://kanchanapisek.or.th/cgi-bin/kp8/oncc/province.cgi?prov=e11 Golden Jubilee Network province guide] currently empty-->
*[https://web.archive.org/web/20160616180120/http://loei.go.th/TH/ Provincial website]
*Local website of Loei (Thai version) : [http://www.outloei.com Outloei.com]

{{Geographic location
| Centre    = Loei province
| North     = [[Vientiane province]], {{flag|Laos}}
| Northeast = [[Vientiane Capital]], {{flag|Laos}}<br>[[Nong Khai province]]
| East      = [[Udon Thani province]]<br>[[Nong Bua Lamphu province]]
| Southeast = [[Khon Kaen province]]
| South     = [[Phetchabun province]]
| Southwest = [[Phitsanulok province]]
| West      =
| Northwest = [[Sainyabuli province]], {{flag|Laos}}
}}

{{Provinces of Thailand}}

{{Authority control}}

[[Category:Loei province| ]]
[[Category:Isan]]
[[Category:Provinces of Thailand]]
